body {
    background: linear-gradient(147deg,rgba(0, 4, 71, 1) 0%, rgba(48, 0, 0, 1) 100%);
    background-attachment: fixed;
}

a.button {
    padding: 20px 30px;
    border: 1px outset 10;
    border-radius: 3px;
    color: #000000;
    background-color: #f0f0f0;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

a.button:hover {
    background-color: #e0e0e0;
}

div.button_menue {
    display: flex;
    flex-direction: column;
    justify-self: center;
    gap: 10px;
    width: max-content;
}

div.header {
    text-align: center;
    margin-bottom: 20px;
    background: linear-gradient(147deg,rgba(0, 13, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    color: #ffffff;
    padding: 10px 0;
    border: 5px outset white;
    border-radius: 20px;
}